body {
    font-family: sans-serif,Arial, Helvetica;
}

.smoothie-container{
    background-color: rgb(255, 245, 237);
    width: 80%;
    margin: 0 auto;
    border-radius: 16px;
    padding: 20px;
    color: #9e1a51;
}

.ingredients, 
.instructions{
    margin: 40px;
}

.image{
    margin-top: 60px;
}

.image img{
    display: block;
    margin: 0 auto;
    border-radius: 16px;
}

.pancakes-container{
    background-color: #d1ecc5;
    width: 80%;
    margin: 0 auto;
    border-radius: 16px;
    padding: 20px;
    color: #2b5c14;
}